<div class="relative w-full overflow-hidden py-12 mb-10">
  <!-- Optional: Gradient overlay, kannst du auch rausnehmen wenn du willst -->
  <div class="game-icons-gradient absolute left-0 top-0 h-full w-7 z-10 pointer-events-none"></div>
  <div class="game-icons-gradient absolute right-0 top-0 h-full w-7 z-10 pointer-events-none rotate-180"></div>

  <div class="game-icons-track flex items-center gap-20 animate-infinite-scroll min-w-[200%]">
    <!-- Deine Icons (2x wiederholt für Loop) -->
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/dVfTW5TC/BO6-lgoo.png" alt="BO6" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/9fh5dhFN/FN-LOGASc.png" alt="FN" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.ibb.co/4Rd7TYVZ/bo7-call-of-duty.png" alt="BO7" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/Dzv53vvG/HWID.png" alt="HWID" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/B6qx1ML1/STAVV.png" alt="ST4M" class="game-icon-img" />
    </div>
    <!-- Noch mal für Infinite -->
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/dVfTW5TC/BO6-lgoo.png" alt="BO6" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/9fh5dhFN/FN-LOGASc.png" alt="FN" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.ibb.co/4Rd7TYVZ/bo7-call-of-duty.png" alt="BO7" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/Dzv53vvG/HWID.png" alt="HWID" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/B6qx1ML1/STAVV.png" alt="ST4M" class="game-icon-img" />
    </div>
    <!-- Noch mal für Infinite -->
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/dVfTW5TC/BO6-lgoo.png" alt="BO6" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/9fh5dhFN/FN-LOGASc.png" alt="FN" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.ibb.co/4Rd7TYVZ/bo7-call-of-duty.png" alt="BO7" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/Dzv53vvG/HWID.png" alt="HWID" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/B6qx1ML1/STAVV.png" alt="ST4M" class="game-icon-img" />
    </div>
    <!-- Noch mal für Infinite -->
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/dVfTW5TC/BO6-lgoo.png" alt="BO6" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/9fh5dhFN/FN-LOGASc.png" alt="FN" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.ibb.co/4Rd7TYVZ/bo7-call-of-duty.png" alt="BO7" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/Dzv53vvG/HWID.png" alt="HWID" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/B6qx1ML1/STAVV.png" alt="ST4M" class="game-icon-img" />
    </div>
    <!-- Noch mal für Infinite -->
        <div class="game-icon-item group">
      <img src="https://i.postimg.cc/dVfTW5TC/BO6-lgoo.png" alt="BO6" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/9fh5dhFN/FN-LOGASc.png" alt="FN" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.ibb.co/4Rd7TYVZ/bo7-call-of-duty.png" alt="BO7" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/Dzv53vvG/HWID.png" alt="HWID" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/B6qx1ML1/STAVV.png" alt="ST4M" class="game-icon-img" />
    </div>
    <!-- Noch mal für Infinite -->
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/dVfTW5TC/BO6-lgoo.png" alt="BO6" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/9fh5dhFN/FN-LOGASc.png" alt="FN" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.ibb.co/4Rd7TYVZ/bo7-call-of-duty.png" alt="BO7" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/Dzv53vvG/HWID.png" alt="HWID" class="game-icon-img" />
    </div>
    <div class="game-icon-item group">
      <img src="https://i.postimg.cc/B6qx1ML1/STAVV.png" alt="ST4M" class="game-icon-img" />
    </div>
    
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const bar = document.querySelector('.game-icons-bar');
  const items = bar.querySelectorAll('.game-icon-item');

  items.forEach(item => {
    item.addEventListener('mouseenter', () => {
      bar.classList.add('blur-others');
      item.classList.add('is-hovered');
    });
    item.addEventListener('mouseleave', () => {
      bar.classList.remove('blur-others');
      item.classList.remove('is-hovered');
    });
  });
});
</script>