<!-- ✅ Danach dein Inhalt -->
  <div style="position: relative; z-index: 99; color: white; font-size: 1rem;">
    {% for componentId in components_order %}
      {% render_component componentId %}
    {% endfor %}
  </div>
</body>